.container {
    text-align: center;
}

#title {
    margin-bottom: 0;
    text-align: center;
    background: rgba(26, 25, 25, 0.7);
    padding: 20% 0 22% 0;
    width: 100%;
    height: 100%;
    color: white;
}

.block {
    margin: 0;
    padding: 15% 5%;
}

.diagram {
    width: 50%;
}

.diagramleft {
    float: left;
}

.diagramright {
    float: right;
}

#block1 {
    background: rgb(0, 136, 194);
}

#block2 {
    background: rgb(0, 36, 144);
}

#block3 {
    background: rgb(81, 0, 158);
}

.diagram-h {
    width: 50%;
    margin: 0;
    text-align: center;
    color: white;
}

.diagram-h-right {
    float: right;
}

#diagram-h1{
        padding-top: 10%;
}
#diagram-h2{
        padding-top: 15%;
}
#diagram-h3{
        padding-top: 10%;
}
#note{
    text-align: right;
    float: right;
    padding: 3%;
}